[submodule "vcglib"]
	path = vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "external/jkqtplotter"]
	path = external/jkqtplotter
	url = https://github.com/jkriege2/JKQtPlotter.git
	shallow = true
[submodule "external/meshfix"]
	path = external/meshfix
	url = https://github.com/MarcoAttene/MeshFix-V2.1.git
[submodule "external/qslim"]
	path = external/qslim
	url = https://github.com/alecjacobson/qslim.git
[submodule "external/quadwild-bimdf"]
	path = external/quadwild-bimdf
	url = ../../cgg-bern/quadwild-bimdf.git
	branch = main
[submodule "external/trueform"]
	path = external/trueform
	url = https://github.com/polydera/trueform.git
